body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    background: #111827;
    padding: 30px;
    border-radius: 12px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}
